body {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.ui {
    width: 25vw;
    height: 100vh;
    background-color: rgb(90, 196, 160);

    display: flex;
    flex-direction: column;
}

.ui .filename {
    width: 50%;
    margin: 10px auto;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid rgb(255, 255, 255, 0.8);
    border-radius: 13px;
    cursor: grab;
}

.editor {
    width: 75vw;
    height: 100vh;
    background-color: rgb(109, 250, 203);
}

.editor textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    resize: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}